body{
text-align: center;  
}
p{
word-spacing: 10px;
font-variant: small-caps;
text-align: center;
font-size: 80px;  
}
#imgg{
border-style: solid;
border-color: #689F38
border: 1px
border-radius: 80px;
padding: 5px;
width: 800px;  
}
#img1{
border-style: solid;
border-color: #689F38
border: 1px
border-radius: 80px;
padding: 5px;
width: 500px;  
}
#img2{
border-style: solid;
border-color: #689F38
border: 1px
border-radius: 80px;
padding: 5px;
width: 500px;  
}
#img3{
border-style: solid;
border-color: #689F38
border: 1px
border-radius: 80px;
padding: 5px;
width: 500px;  
}
#img4{
border-style: solid;
border-color: #689F38
border: 1px
border-radius: 80px;
padding: 5px;
width: 500px;  
}
#img5{
border-style: solid;
border-color: #689F38
border: 1px
border-radius: 80px;
padding: 5px;
width: 500px;  
}
#img6{
border-style: solid;
border-color: #689F38
border: 1px
border-radius: 80px;
padding: 5px;
width: 500px;  
}
#img7{
border-style: solid;
border-color: #689F38
border: 1px
border-radius: 80px;
padding: 5px;
width: 500px;  
}